@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Nunito sans", sans-serif;
    --bg: #ffffff;
    --textcolor: #111517;
    --radius: 5px;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    font-size: 10px;
}

.container {
    height: 1024px;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 1024px;
    max-width: 1440px;
    .navigation {
        max-width: 1440px;
        padding: 23px 80px 24px 81px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 24px;
                font-weight: 800;
                line-height: 32.74px;
                color: var(--textcolor);
            }
            .moon-icon {
                display: flex;
                width: 108px;
                justify-content: space-between;
                align-items: center;
                justify-content: baseline;
                a {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.82px;
                    color: var(--textcolor);
                    text-decoration: none;
                }
            }
        }
    }
    .header-section {
        max-width: 1440px;
        height: 100%;
        padding: 48px 80px 45px 80px;
        .search-section {
            display: flex;
            max-width: 1280px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 48px;
            form {
                display: flex;
                align-items: center;
                gap: 24px;
                width: 480px;
                background-color: var(--bg);
                border-radius: var(--radius);
                padding: 19px 32px;
                box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
                input {
                    border: none;
                    outline: none;
                    font-family: var(--font);
                    width: 100%;
                }
            }
            .dropbtn {
                background-color: var(--bg);
                width: 200px;
                color: var(--textcolor);
                padding: 18px 24px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                margin-bottom: 4px;
                border-radius: var(--radius);
                box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
                font-family: var(--font);
                font-size: 14px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--bg);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                width: 200px;
                border-radius: var(--radius);
                box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
                padding: 16px 0px;
            }

            .dropdown-content a {
                color: var(--textcolor);
                padding: 8px 24px 0px 24px;
                text-decoration: none;
                display: block;
                font-family: var(--font);
                font-size: 14px;
                font-weight: 400;
            }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
        .header-list {
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            gap: 75px;
            .header-list-container-first {
                max-width: 1280px;
                display: flex;
                justify-content: space-between;
                .card {
                    max-width: 264px;
                    height: 336px;
                    background-color: var(--bg);
                    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
                    border-radius: var(--radius);
                    overflow: hidden;

                    .card-info {
                        padding: 24px 24px 0px 24px;
                        h5 {
                            font-size: 18px;
                            font-weight: 800;
                            line-height: 26px;
                            color: var(--textcolor);
                            margin-bottom: 16px;
                        }
                        p {
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 16px;
                            margin-bottom: 8px;
                            span {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 986px) and (min-width: 374px) {
    .container {
        max-width: 375px;
    }
    header {
        max-width: 375px;
        .navigation {
            max-width: 375px;
            padding: 30px 16px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
            .navbar {
                h1 {
                    font-size: 14px;
                }
                .moon-icon {
                    width: 84px;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        .header-section {
            max-width: 1440px;
            height: 100%;
            padding: 24px 10px;
            .search-section {
                display: grid;
                max-width: 343px;
                gap: 40px;
                margin-bottom: 32px;
                form {
                    gap: 26px;
                    width: 343px;
                    padding: 16px 32px;
                }
            }
        }
        .header-list {
            max-width: 264px;
            display: grid;
            gap: 40px;
            .header-list-container-first {
                max-width: 264px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                .card {
                    max-width: 264px;
                    .card-info {
                        padding: 24px 24px 46px 24px;
                    }
                }
            }
        }
    }
}
